<mat-toolbar>
  <span>World Blog</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [disabled]="isAddPostButtonDisabled"
    (click)="navigateToAddPost()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="navigateToProfile()"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
