<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>{{postIntroduction.title}}</mat-card-title>
      <mat-card-subtitle>{{postIntroduction.owner.username}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{imageBaseSource}}{{postIntroduction.images[0] }}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{postIntroduction.content.substring(0,postIntroduction.content.length/3)}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="navigateToDetails()">READ MORE</button>
    </mat-card-actions>
  </mat-card>
  